.skill {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  gap: 20px;

  border: 2px solid #fff;
  border-radius: 20%;
  transition: transform ease-in-out .3s;

  @media (max-width: 391px) {
    width: 120px;
    height: 130px;
    justify-content: flex-start;
    gap: 10px;
  }

  @media (max-width: 426px) {
    width: 140px;
    height: 130px;
    justify-content: flex-start;
    gap: 10px;
  }

  @media (max-width: 769px) {
    width: 150px;
    height: 130px;
    justify-content: flex-start;
    gap: 10px;
  }

  &:hover {
    transform: scale(1.2);
    transition: transform ease-in-out .3s;
  }


  .containerImg {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #040404;
    animation: rotate 9s linear infinite;

    @media (max-width: 391px) {
      width: 80px;
      height: 80px;
    }

    @media (max-width: 426px) {
      width: 80px;
      height: 80px;
    }

    @media (max-width: 769px) {
      width: 70px;
      height: 70px;
    }

    &:hover {
      animation: rotate 1s linear infinite;
    }

    .img {
      width: 74px;
      height: 74px;
      display: block;
      border-radius: 10%;

      @media (max-width: 391px) {
        width: 60px;
        height: 60px;
      }

      @media (max-width: 426px) {
        width: 40px;
        height: 40px;
      }

      @media (max-width: 769px) {
        width: 30px;
        height: 30px;
      }
    }
  }

  .skillText {
    font-size: 16px;
    font-weight: bold;
    color: #fff;

    @media (max-width: 391px) {
      font-size: 14px;
    }

    @media (max-width: 426px) {
      font-size: 14px;
    }
  }
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}