.navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;

  .item {
    min-width: max-content;
    list-style: none;

    .link {
      display: block;
      text-decoration: none;
      font-size: 18px;
      color: #fff;
      transition: all .3s;

      &:hover {
       transform: scale(1.3);
        transition: all .3s;
      }
    }


      .one {
        color: rgb(65, 105, 225);
      }

      .two {
        color: rgb(102, 185, 92);
      }

      .three{
        color: rgb(255, 152, 0);
      }

      .four {
        color: rgb(255, 94, 148);
      }

      .five {
        color: rgb(250, 91, 15);
      }

      .six {
        color: rgb(243, 153, 119);
      }

      .seven{
        color: rgb(146, 0, 238);
      }

      .eight {
        color: rgb(0, 212, 189);
      }

      .nine{
        color: rgb(94, 158, 159);
      }

      .ten {
        color: rgb(235, 74, 76);
      }

      .eleven{
        color: rgb(102, 109, 65);
      }

      .twelve{
        color: rgb(254, 0, 0);
      }

  }

  .download {
    padding: 10px 25px;
    color: rgb(235, 74, 76);
    background-color: rgb(235, 74, 76);
    border-radius: 30px;
  }



}

.flexColumn {
  flex-direction: column;
}


@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

//@keyframes scale {
//  0% {
//    transform: scale(1);
//  }
//
//  50% {
//    transform: scale(1.2);
//  }
//  100% {
//    transform: scale(1);
//  }
//}