.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 40px ;

  .animate {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    z-index: -5;
    animation: transition .8s linear;
  }

  .titleSection {
    position: relative;
    display: flex;
    justify-content: center;
    color: #fff;

    .titleAbsolute {
      display: flex;
      gap: 5px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;

      font-size: 44px;
      font-weight: bold;

      div:nth-child(1) {
        animation: letter .5s linear;
      }

      div:nth-child(2) {
        animation: letter 1s linear;
      }

      div:nth-child(3) {
        animation: letter 1.5s linear;
      }

      div:nth-child(4) {
        animation: letter 2s linear;
      }

      div:nth-child(5) {
        animation: letter 2.5s linear;
      }

      div:nth-child(6) {
        animation: letter 3s linear;
      }

      div:nth-child(7) {
        animation: letter 3.5s linear;
      }

      div:nth-child(8) {
        animation: letter 4s linear;
      }
    }

    .title {
      display: flex;
      gap: 2px;

      text-transform: uppercase;
      font-size: 102px;
      line-height: 1;
      color: rgba(100, 99, 99, 0.11);
    }
  }


  .contentSection {
    padding: 130px 20px 20px 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;

    @media (max-width: 951px) {
      padding: 50px 20px 20px 20px;
      gap: 30px;
    }

    .infoSection {
      align-self: flex-start;
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media (max-width: 951px) {
        width: 80%;
      }

      .contactsBlock {
        width: 450px;
        height: 40px;
        background-color: rgba(128, 128, 128, 0.2);
        border-radius: 10px;
        padding: 5px 0 5px 10px;
        display: flex;
        align-items: center;

        @media (max-width: 951px) {
          width: 100%;
        }

        .link {
          display: flex;
          align-items: center;
          gap: 20px;
          text-decoration: none;
          color: #fff;

          .imgContainer {
            width: 16px;
            height: 16px;

            .img {
              width: 16px;
              height: 16px;
            }
          }


          .contactsBlockTitle {
            font-weight: normal;
            font-size: 16px;

            @media (max-width: 424px) {
              font-size: 12px;
            }
          }
        }


      }
    }

    .formSection {
      flex-grow: 2;
      align-self: flex-start;
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media (max-width: 951px) {
        max-width: 80%;
        flex-grow: 1;
        align-self: center;
      }
      .inputBlock {
        display: flex;
        flex-wrap: wrap;
        gap: 4%;

        @media (max-width: 760px) {
          width: 100%;
          flex-direction: column;
          gap: 10px;
        }

        .input {
          padding: 5px 0 5px 10px;
          height: 40px;
          width: 48%;
          background-color: rgba(128, 128, 128, 0.2);
          border-radius: 10px;
          outline: none;
          color: #fff;

          @media (max-width: 760px) {
            width: 100%;
          }
        }
      }

      .textArea {
        padding: 10px 30px;
        background-color: rgba(128, 128, 128, 0.2);
        border-radius: 10px;
        outline: none;
        border: none;
        color: #fff;
        resize: none;
      }

      .submitBtn {
        max-width: 350px;
        padding: 15px 45px;
        background-color: rgb(235, 74, 76);
        border-radius: 50px;
        color: #fff;
        cursor: pointer;
        border: none;
        //animation-name: temp4;
        //animation-duration: 2s;
        transition: all .3s;

        @media (max-width: 951px) {
          width: 100%;
          align-self: center;
        }

        &:hover {
          background-color: #fff;
          animation: shake .3s linear 1;
          color: #fff;
          transition: all 1s;
        }
      }
    }
  }
}

.error {
  border: 1px solid indianred;
}

.success {
  border: none;
}

@keyframes transition {
  0% {
    transform: translateY(0);
    background-color: #000;
    z-index: 5;
  }

  50% {
    transform: translateY(-50%);
    background-color: #000;
    z-index: 5;
  }

  100% {
    transform: translateY(-100%);
    z-index: 5;
  }
}

@keyframes letter {
  0% {
    transform: translateY(-200%);
  }


  100% {
    transform: translateY(0);
  }
}


@keyframes shake {
  33% {
    transform: rotate(10deg)
  }
  66% {
    transform: rotate(-10deg)
  }
  100% {
    transform: rotate(10deg)
  }
}