.container {
  width: 100%;
  height: 100%;
  position: relative;

  .animate {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: black;
    z-index: -5;
    animation: transition .8s linear;
  }

  .wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    //animation: transition 3s linear;
    .content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
    }
  }
}


@keyframes transition {
  0% {
    transform: translateY(0);
    background-color: #000;
    z-index: 5;
  }

  50% {
    transform: translateY(50%);
    background-color: #000;
    z-index: 5;
  }

  100% {
    transform: translateY(100%);
    z-index: 5;
  }
}